#container {
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button {
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 140, 255, 0.788);
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: rgba(137, 43, 226, 0.566);
}

button:active {
    background-color: rgba(247, 0, 255, 0.929);
}

input {
    font-size: 2rem;
    text-align: center;
    width: 150px;
    font-weight: bold;
}
#diceresult {
    margin: 25px;

}
