* {
    margin: 0;
    font-family: arial;
    border: border-box;
    /* background-color: black; */
}

.centernavbound{
    height: 90px;
    width: 1530px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    
}
.toggler{
    padding: 0px 10px 0px 3px;
    margin-left: 10px;

}
.nav-logo{
    height: 45px;
    width: 130px;
    margin-bottom: 2.5px;
    margin-left: 10px;
}
.logo{
    background-image: url(logo-5.png);
    background-size: cover;
    height: 30px;
    width: 90px; 
}
.navsearch{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 620px;
    height: 49px;
    border-radius: 9.6px;
    margin-left: 15px;
}
.search-input{
    width: 100%;
    color: #1C1C1C;
    background-color: black;
    font-size: 0.85rem;
}
